body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-color:silver;
    /* https://codingwiki.fandom.com/wiki/CSS_Patterns */
    background-image: radial-gradient(circle at 100% 150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent), radial-gradient(circle at 0    150%, silver 24%, white 24%, white 28%, silver 28%, silver 36%, white 36%, white 40%, transparent 40%, transparent), radial-gradient(circle at 50%  100%, white 10%, silver 10%, silver 23%, white 23%, white 30%, silver 30%, silver 43%, white 43%, white 50%, silver 50%, silver 63%, white 63%, white 71%, transparent 71%, transparent), radial-gradient(circle at 100% 50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent), radial-gradient(circle at 0    50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent); background-size: 100px 50px;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    height: 500px;
    border: 1px solid grey;
    background-color: whitesmoke;
    padding: 10px;
    margin: 50px;
}

/* --- || BUTTONS || --- */

button {
    border-radius: 8px;
}

#startTime {
    /* Position #startTime btn at bottom of #wrapper */
    background-color: grey;
    padding: 15px 32px;
    font-size: 20px;
    color: white;
}

#Submit {
    background-color: grey; 
    padding: 15px 32px;
    font-size: 20px;
    color: white;
    /* Forces sumbit button below #label & #input */
    /* Æ | Needs fix for break without using so much padding */
    margin: 45px;
}

#goHome {
    background-color: grey;
    padding: 10px;
    font-size: 20px;
    color: white;
}

#clear {
    background-color: grey;
    padding: 10px;
    font-size: 20px;
    color: white;
}

#btn-container {
    text-align: center;
}

/* --- || LINKS || --- */

/* unvisited link */
a:link {
    color: grey;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: grey;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: black;
    text-decoration: none;
}

#questionsDiv {
    margin: 20px;
    font-size: 20px;
    /* Centers #label and #input on complete page */
    text-align: center;
}

#currentTime {
    float: right;
}

textarea {
    width: 90%;
    margin: 20px;
}

label {
    /* Space between text and input box */
    margin-right: 10px;
}

input {
    /* Space between input box and sumbit button */
    margin-bottom: 20px;
    width: 15%;
    border: 1px solid lightgray;
}

h1 {
    text-align: center;
    font-size: 75px;
    padding: 10px 10px 20px 10px;
    color: white;
    background-color:grey;
    /* https://css-tricks.com/examples/TextStroke/ */
    text-shadow: -3px -3px 0 #000, 1px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
    font-family: Anime;
}

p {
    font-size: 18px;
    text-align: center;
    line-height: 25px;
}

#titleline {
    /* https://codepen.io/astrotim/pen/BfDIw */
    border:none;
    max-width: 650px;
    height: 50px;
    margin-top: 0;
    border-bottom: 1px solid white;
    box-shadow: 0 20px 20px -20px #333;
    margin: -50px auto 10px; 
    margin-bottom: 15px;
}

/* --- || HIGH SCORE LIST || --- */

#highScore {
    /* make text box scrollable when list gets long (~7 Scores) */
    height:280px;
    overflow: hidden;
    overflow-y: auto;
}

/* --- || SCROLL BAR ATTRIBUTES || --- */
/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: whitesmoke; 
}
/* Handle */
::-webkit-scrollbar-thumb {
    background:lightgrey; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darkgrey; 
}

#highscore-container {
    width: 100%;
}

li {
    background-color: grey;
    /* space between list items */
    margin-top: 10px;
    /* adds space from left edge & top/bottom for aesthetics */
    padding: 5px 15px;
    font-size: 18px;
    color: white;
    border: solid 1px black;
    /* Fixes Parent's Center Alignment */
    text-align: left;
}

#createDiv {
    margin-top: 20px;
    border-top: 1px solid rgb(19, 18, 18);
    text-align: center;
    padding-top: 10px;
}

#createP {
    margin: 15px;
    font-size: 18px;
}

#createLabel, #createInput {
    text-align: center;
}

/* || RESPONSIVE MEDIA QUERIES || */

/* Max-width: 786ps (Tablets) */
@media screen and (max-width: 786px) {

    body {
        max-width: 786px;
    }

    a {
        margin-left: 20%;
    }
}

/* Max-Width: 640px (Phones) */
@media screen and (max-width: 640px) {

    body {
        min-width: 360px;
    }

    #wrapper {
        width: 350px;
        margin: 10px;
    }

    a {
        margin-left: 10%;
    }

    h1 {
        font-size: 55px;
    }

}